/* Importation de la police Roboto depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Réinitialisation globale des styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Styles pour le body */
body {
  font-family: 'Roboto', sans-serif; /* Utilisation de la police Roboto */
  background: #0F172A; /* Couleur d'arrière-plan foncée */
  color: #fff;  /* Couleur de texte blanche */
}

/* Styles pour l'en-tête et le contenu principal */
header, main {
  max-width: 800px;  /* Largeur maximale */
  margin: 20px auto; /* Centrage horizontal et espace vertical */
  padding: 0 20px;   /* Espace à l'intérieur */
}

/* Conteneur du jeu */
#gameContainer {
  position: relative;
  width: 100%;
}

/* Modal de félicitations */
#congratsModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0F172A;
  border: 2px solid #000;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Ombre portée pour un effet flottant */
  text-align: center;
  z-index: 100;  /* Superposition au-dessus d'autres éléments */
  width: 80%; 
  max-width: 400px;
}

/* Styles du jeu de mémoire */
.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;  /* Centrage */
  display: flex; 
  flex-wrap: wrap;  /* Permet aux cartes de s'enrouler sur plusieurs lignes */
  perspective: 1000px; /* Effet de profondeur pour la rotation 3D */
}

/* Styles des cartes de mémoire */
.memory-card {
  width: calc(25% - 10px);  /* Largeur des cartes en fonction de la taille du conteneur */
  height: calc(33.333% - 10px); 
  margin: 5px;
  position: relative;
  transform: scale(1);  /* Échelle initiale */
  transform-style: preserve-3d;  /* Conservation de la 3D lors de la rotation */
  transition: transform .5s;  /* Transition douce pour la rotation */
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);  /* Ombre légère pour un effet 3D */
}

/* Effet lorsque la carte est pressée/clickée */
.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

/* Rotation de la carte lorsque la classe .flip est ajoutée */
.memory-card.flip {
  transform: rotateY(180deg);
}

/* Styles pour les faces avant et arrière des cartes */
.front-face, .back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #FFFFFF;  /* Fond blanc */
  backface-visibility: hidden;  /* Cache la face non visible pendant la rotation */
}

/* Rotation initiale de la face avant */
.front-face {
  transform: rotateY(180deg);
}

/* Animation pour donner un effet "rebond" aux cartes correspondantes */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.memory-card.matched {
    animation: bounce 1s;  /* Applique l'animation "rebond" */
}

/* Styles pour les écrans de taille inférieure à 700px (responsive design) */
@media (max-width: 700px) {
  .memory-game {
      width: 320px;
      height: 320px;
  }
  .memory-card {
      width: calc(50% - 10px);
      height: calc(50% - 10px);
  }
}
