@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* --- Réinitialisation de base --- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: url('assets/img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* --- Structure générale --- */

h1, h2 {
  font-family: 'Press Start 2P', sans-serif;
  text-shadow: 3px 3px #000;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #FFD700; 
  background-color: rgba(0, 0, 0, 0.6); 
  padding: 5px 10px;
  border: 2px solid #FFD700; 
  box-shadow: 2px 2px 0px #000; 
  margin: 10px 0; 
  border-radius: 5px; 
  max-width: 90%; 
  text-align: center; 
}


header,
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gameContainer {
  position: relative;
  width: 100%;
}

#gameContainer.modal-active>*:not(aside) {
  pointer-events: none;
  filter: blur(3px);
}

.difficulty, #congratsModal, #difficultyModal {
  background-image: repeating-linear-gradient(horizontal, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 2px,transparent 2px, transparent 4px);
}


/* --- Modals et Backdrop --- */
.difficulty {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8em;
  padding: 8px 16px;
  border: 3px solid #000;
  background-color: #FF3000;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s, background-color 0.3s;
  box-shadow: 3px 3px #000;
}

.difficulty::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 0.25s;
}

#resetButton {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8em;
  padding: 8px 16px;
  border: 3
}

/* Effet de survol */

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.difficulty:hover {
  background-color: #fff;
  color: #FF3000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: blink 0.5s infinite;
}

.difficulty:hover::before {
  width: 100%;
}

/* Couleurs spécifiques par niveau de difficulté */
.difficulty[data-difficulty="easy"] {
  background-color: #4CAF50; /* Vert */
}

.difficulty[data-difficulty="medium"] {
  background-color: #FFEB3B; /* Jaune */
}

.difficulty[data-difficulty="hard"] {
  background-color: #FF5722; /* Orange */
}

.difficulty[data-difficulty="impossible"] {
  background-color: #E91E63; /* Rose */
}

/* Effet actif */
.difficulty, #resetButton:active {
  transform: scale(0.98);
}

#congratsModal {
  display: none;
}

#gameContainer.modal-active {
  pointer-events: none;
}

#congratsModal,
#difficultyModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #181717;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 100;
  width: 80%;
  max-width: 400px;
  pointer-events: auto;
}

#modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;  
  background-color: rgba(0,0,0,0.5);  
  display: none;
}


/* --- Jeu de mémoire --- */
.memory-game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 100%;
  max-width: 320px;
  margin: 20px auto;
}

.memory-card {
  width: 80px;
  height: 100px;
  aspect-ratio: 1 / 1;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border: 3px solid #FFD700; 
  background: #000;
  box-shadow: 5px 5px #000; 
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
  background: #FFD700
}

.front-face, .back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: #ffffff;
  backface-visibility: hidden;
  object-fit: contain;
  background-image: repeating-linear-gradient(horizontal, rgba(255,255,255,0.1) 0px, rgba(255,255,255,0.1) 1px,transparent 1px, transparent 2px);
}

.front-face {
    transform: rotateY(180deg);
}

/* --- Animations --- */

@keyframes pixelBounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}
.memory-card.matched {
  animation: pixelBounce 0.5s;
}

/* Pour des écrans un peu plus grands, comme les phablettes */
@media (min-width: 500px) {
  .memory-game {
    grid-template-columns: repeat(4, 1fr);
    /* 4 cartes par rangée */
    max-width: 480px;
  }
}

/* Pour des tablettes */
@media (min-width: 768px) {
  .memory-game {
    grid-template-columns: repeat(4, 1fr);
    /* 4 cartes par rangée */
    max-width: 640px;
  }

  .memory-card {
    width: 130px;
    height: 150px;
  }
}

/* Pour les grands écrans */
@media (min-width: 992px) {
  .memory-game {
    grid-template-columns: repeat(4, 1fr);
    /* 4 cartes par rangée pour les grands écrans */
    max-width: 960px;
  }

  .memory-card {
    width: 130px;
    height: 150px;
  }
}